<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{{ info.project_name }}</title>
</head>
<body>
    <h1>{{ info.project_name }}</h1>
    <p>
        {{ info.status_message }}
    </p>
    <p>
        Diese Seite ist der erste minimale, serverseitig gerenderte
        Meilenstein (R004 &ndash; Flask-Grundgerüst, seit R005 mit
        Application Service Layer). Installation, Konfiguration und
        Verwaltung von Anwendungen wie OpenCloud folgen in späteren
        Roadmap-Punkten.
    </p>
</body>
</html>
